body{
    display:flex ;
    flex-direction: column;
    gap: 1vh;
}
.color{
    border: 1px solid black;
    width: 5vw;
    height: 5vw;
}

#color-palette{
    display: flex;
}
.part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    
}

#pixel-board{
    border: solid black 1px;
    display: inline;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    width: min-content;
}

.pixel{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
#linhado{
    border: 1px solid black;
}
#deslinhado{
    border: none;
}


.lik{
    display: flex;
    margin: 0%;
    padding: 0%;
    border: 0%;
    width: auto;
    }