@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



body{
    display:flex ;
    flex-direction: column;
    gap: 1vh;
    transition: all 0.7s;
}

#title{
    font-family: 'Press Start 2P', cursive;
}

.color{
    border: 1px solid black;
    width: 5vw;
    height: 5vw;
}

#color-palette{
    display: flex;
}
.part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    
}

#pixel-board{
    display: inline;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    width: min-content;
    padding-bottom: 3px solid white;

}

.pixel{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}

.claro{
    border: white;
}
#linhado{
    border: 1px solid black;
}
#deslinhado{
    border: none;
}


.lik{
    display: flex;
    margin: 0%;
    padding: 0%;
    border: 0%;
    width: auto;
    }

#dark-light{
  height: 40px;
  width: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #c0e4e42f;
  border: 3px solid #dbe4ed;
  border-radius:10px ;
  transition: all 0.7s;
  margin-left: 5vw;
}

.part button{
    background-color:aliceblue;
    border: 3px solid #000000;
     border-radius:5px ;
}